#regForm{
    margin: 100px auto;
    padding: 50px;
}

#logForm{
    margin: 200px auto;
    padding: 50px;
    width: 40%;
}

#createForm{
    margin: 200px auto;
    padding: 50px;
}

#encyclopedyForm {
    margin: 200px auto;
    padding: 50px;
}