#regForm{
    margin: 100px auto;
    padding: 50px;
}

#logForm{
    margin: 200px auto;
    padding: 50px;
    width: 40%;
}

@media (max-width: 800px) {
    #logForm{
        width: 100%;
    }
}

#createForm{
    margin: 200px auto;
    padding: 50px;
}

#encyclopedyForm {
    margin: 200px auto;
    padding: 50px;
}